extends layout

block content
  h1 Getting started with JanusGraph, Part 3 
  div
    form(id="routeForm" action="/routes")
      label(for="start") Staring airport code 
      input(name="start", type="text", id="start", placeholder="SFO")

      label(for="dest") Destination airport code 
      input(name="dest", type="text", id="dest", placeholder="JFK")

      label(for="limit") Routes returned
      select(name="limit", id="limit")
        option(value=0) 0
        option(value=1) 1
        option(value=2) 2
        option(value=3) 3
        option(value=4, selected="selected") 4
        option(value=5) 5
        option(value=6) 6
        option(value=7) 7
        option(value=8) 8
        option(value=9) 9
        option(value=10) 10

      label(for="hops") # of stops
      select(name="hops", id="hops")
        option(value=1) Non-Stop
        option(value=2) 1
        option(value=3, selected="selected") 2
        option(value=4) 3
     
      input(type='submit', value="Go")
  svg(id="svgmap" width="593.3779761904764" height="318.2870370370371")
