doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/SVG.js')
    script(src='/javascripts/svg.min.js')
  body
    block content
    br
    hr
    footer
    p Copyright &copy 2018
