doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/svg.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/svgmap.js')
    script(src='/javascripts/routes.js')
    script(src='/javascripts/snap.svg-min.js')
  body
    block content
    br
    hr
    footer
    p Copyright &copy 2018
