path {
    fill:aqua;
    stroke:black;
    pointer-events:all;
}

path:hover {
    fill:maroon;
    stroke:orange;
    pointer-events:all;
}

line {
    fill:black;
    stroke:black;
    strokeWidth: 5;
}

line:hover {
    fill:black;
    stroke:black;
    strokeWidth: 5;
}
