path {
    fill: #0066ff;
    stroke: black;
    pointer-events: all;
}

path:hover {
    fill: #cccccc;
    stroke: #ffffff;
    pointer-events: all;
}

line {
    fill: #ff3300;
    stroke: #ff3300;
    stroke-width: 3;
}

line:hover {
    fill: #9999ff;
    stroke: #9999ff;
    stroke-width: 3;
}

circle{
    fill: #ff3300;
    stroke: #ff3300;
    stroke-width: 3;
}

circle:hover {
    fill: #9999ff;
    stroke: #9999ff;
    stroke-width: 3;
}
